# База данных для Mattermost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database

# Настройки бд для Mattermost(использовал Postgres)
MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable

# Данные, чтобы бот подключился к Mattermost
BOT_TOKEN=bot_token
MATTERMOST_URL=http://mattermost:8065